@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Jaini&display=swap');
.main{
    background-image: url('img/Rectangle 3.png');
    height: 43.75vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}   
.main h1{
    font-family: "Jaini", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 128px;
  line-height: 80px;
  margin-top: 3.958vw;
}
.main h2{
    font-size: 64px;
	font-family: Inter;
	font-weight: 700;
    line-height: 77px;
    padding-top: 0.208vw;
}