.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.news_container{
    height: auto;
    width: 90.694vw;
    border: 1px dashed #9747FF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.389vw;
    padding-top: 1.389vw;
    margin-top: 3.472vw;
    padding-bottom: 1.389vw;
    margin-bottom: 3.125vw;
}
.news_inner{
    width: 87.917vw;
    height:24.792vw ;
    background-color: #C9DEBC;
    display: flex;
    justify-content: center;
}
.text-wrapper_news{
    width: 84.097vw;
}
.text-wrapper_news p{
    padding-top: 1.736vw;
    padding-left: 1.875vw;
    font-family: inter;
    font-weight: 600;
    font-size: 1.667vw;
    line-height: 1.875vw;
}