.slide_container{
    display: flex;
    height: 46.319vw;
    align-items: center;
    justify-content: center;
    gap: 3.611vw;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 1.667vw;
}
.inner_wrapper{
    border: 5px solid black;
    height: 19.444vw;
    width: 39.444vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/Rectangle 13.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.inner_wrapper p,h2{
    font-family: inter;
    font-size: 1.111vw;
    line-height: auto;
}
.text-wrapper-slide{
    width: 35.278vw;
}
.header_wrapper{
    height: 1.319vw;
    margin-top: 0.694vw;
}
.star_wrapper{
    height: 2.847vw;
    display: flex;
    padding-top: 1.042vw;
}
.comment-wrapper {
    width: 35.278vw;
}
.main{
    background-color: #DEEBDF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_container{
    display: flex;
    justify-content: center;
    padding-right: 1.319vw;
}
.btn_container2{
    display: flex;
    justify-content: center;
    padding-left: 1.319vw;
}
.btn_container2 img{
    height: 6.944vw;
    width: 6vw;
}
.btn_container img{
    height: 6.944vw;
    width: 6vw;
}