@import "importStyle.css";

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner{
    background-color: red;
    border: 1px solid black;
    border-radius: 25%;
}